<%= render "shared/header" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white h-auto p-4 rounded-md shadow">
      <div class="mb-4 flex justify-center">
        <% if @user.profile_image? %>
          <%= image_tag @user.profile_image.url class: "w-16" %>
        <% else %>
          <%= image_tag avatar_url(@user) %>
        <% end %>
      </div>
      <div class="p-4">
        <div class="form-text">プロフィール画像</div>
        <%= f.file_field :profile_image, class: "break-words" %>
      </div>
      <div class="mb-4 flex justify-center">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="mt-16 mb-4 flex justify-center">
        <%= f.submit "設定を更新する", class: "w-full bg-gray-500 text-white text-center"%>
      </div>
      
    </div>
    <div class="col-span-2 bg-white p-4 rounded-md shadow">
      <div class="p-4">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="p-4">
        新しいパスワード<br>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <div class="form-text"></div>
      </div>

      <div class="p-4">
        新しいパスワード(確認用)<br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="p-4">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <br>
        <em>設定を変更する場合は現在のパスワードを入力してください</em>
      </div>
      
    </div>
  </div>
</div>
  <% end %>
<%= render "shared/footer" %>