<%= render "shared/header" %>
<div class="container mx-auto lg:px-8 xl:px-40">
  <div class="lg:grid grid-cols-2 pt-4 lg:pb-24">
    <div class="col-span-1 bg-white rounded-md shadow mx-4 mt-4 flex justify-center">
      <%= image_tag("welcome.png", class:"h-80") %>
    </div>
    <div class="col-span-1 bg-white rounded-md shadow mt-4 mx-4 p-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="h-auto divide-y divide-gray-400">
          <%= render "shared/error_messages", model: f.object %>
          <div class="px-4 pb-4">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="p-4">
            <div class="form-text">プロフィール画像</div>
            <%= f.file_field :profile_image, class: "image" %>
          </div>
          <div class="p-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="p-4">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="p-4">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="pt-4 flex justify-around">
            <%= f.submit "新規登録する", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %>
            <%= link_to 'トップページに戻る', root_path, class:"px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
