<% if user_signed_in? %>
    <%= form_with model: new_comment, url: job_comments_path(job_id: job_id) do |f| %>
      <div class="px-4">
        <%= f.text_area :content, class:'w-full', placeholder: "コメントを入力" %>
      </div>
      <div class="px-4 pt-3 pb-4">
      <%= f.submit "コメントを投稿する", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %>
      </div>
    <% end %>
    <% if message == "create" %>
      <div class="flex rounded-md border-2 border-green-500 mx-4 mb-4">
        <span class="material-icons">done</span><p class="mx-2">コメントを投稿しました</p>
      </div>
    <% elsif message == "delete" %>
      <div class="flex rounded-md border-2 border-red-500 mx-4">
        <span class="material-icons">done</span><p class="mx-2">コメントを削除しました</p>
      </div>
    <% end %>
<% else %>
  <p class="text-sm px-4">※ログインするとコメントができます</p>
<% end %>
<% comments.each do |comment|%>
  <hr>
  <div class="flex justify-between pt-4">
    <div class="flex display-start items-center px-4">
      <%= link_to user_path(comment.user.id), data: {"turbolinks" => false} do %>
        <% if comment.user.profile_image? %>
          <%= image_tag comment.user.profile_image.url, class: "w-8" %>
        <% else %>
          <%= image_tag avatar_url(comment.user), class: "w-8" %>
        <% end %>
      <% end %>
      <div class="flex items-center">
        <%= link_to user_path(comment.user.id), data: {"turbolinks" => false} do %>
          <p class="ml-2 hover:underline"><%= comment.user.name %></p>
        <% end %>
        <p class="text-sm">さんが<%= time_ago_in_words(comment.created_at) %>前に投稿</p>
      </div>
    </div>
    <% if current_user == comment.user %>
      <div class="bg-gray-500 h-8 rounded-md flex items-center mx-4">
        <%= link_to image_tag("delete.png", class:"w-6"), job_comment_path(job_id: comment.job_id, id: comment.id), class: "p-2", data: { confirm: "コメントを削除しますか?" }, method: :delete, remote: true %>
      </div>
    <% end %>
  </div>
  <div class="whitespace-pre-line px-4 pb-4">
    <%= comment.content %>
  </div>
<% end %>