<%= render "shared/header" %>
<div class="container mx-auto">
  <div class="p-4 h-auto bg-white rounded-md shadow">
    <%= form_with model: @comment, url: job_comments_path, local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <div class="p-4">
        <p class="text-2xl">コメントを投稿する</p>
      </div>
      <div class="p-4">
        <%= f.text_area :content, class:'my-3 w-full', placeholder: "コメントを入力" %>
      </div>
      <div class="p-4 flex justify-center">
        <div class="">
          <%= f.submit "コメントを投稿する", class:"p-3 mx-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %>
        </div>
        <div class="p-3">
          <%= link_to 'トップページに戻る', root_path, class:"p-3 mx-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>