<%= form_with model: @job, url: job_path, method: :put do |f| %>
  <div class="m-4 p-4 h-auto divide-y divide-gray-400">
    
    <div class="px-4 pb-4">
      <div class="form-text pb-4">仕事のタイトルを記入してください（必須）</div>
      <%= f.text_area :name, class:"w-full" %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">納品場所を記入してください（必須）</div>
      <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">希望納期を選択してください（必須）</div>
      <%= f.collection_select(:deadline_id, Deadline.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">加工種別を選択してください（必須）</div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">補足事項がありましたら記入してください（任意）</div>
      <%= f.text_area :memo, class:'w-full' %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">参考画像がありましたら選択してください（任意）</div>
      <%= f.file_field :job_image, class: "image" %>
    </div>
    <div class="p-4">
      <div class="form-text pb-4">見積書などの送付先を記入してください（任意）</div>
      <%= f.text_area :contact, class:'w-full' %>
    </div>
    <div>
      <p class="py-4 flex justify-center"><%= f.submit "依頼を投稿する", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %></p>
      <p class="flex justify-center"><%= link_to 'トップページに戻る', root_path, class:"px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %></p>
    </div>
  </div>
<% end %>