<%= render "shared/header" %>
<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 bg-white rounded-md shadow">
      <div id="view">
        <%= render partial: "jobs/job_index", locals: {jobs: @jobs, job_recommends: @job_recommends, contracts: @contracts} %>
      </div>
    </div>
    <div class="col-span-1">
      <% if user_signed_in? %>
        <div class="bg-white rounded-md mb-4 p-4 shadow">
          <div class="flex items-center mb-6">
            <span class="material-icons">person</span><b class="ml-2">ログインユーザー</b>
          </div>
          <div class="flex justify-center mb-6">
            <% if @login_user.profile_image? %>
              <%= image_tag @login_user.profile_image.url, class: "w-16" %>
            <% else %>
              <%= image_tag avatar_url(@login_user), class: "w-16" %>
            <% end %>
          </div>
          <div class="flex justify-center">
            <%= link_to user_path(@login_user), data: {"turbolinks" => false} do %>
              <p class="hover:underline text-xl"><%= @login_user.name %>さん</p>
            <% end %>
          </div>
          <% if @company_profile != nil %>
            <% if @company_profile.category_id == 1 %>
              <% @category = "未登録" %>
            <% else %>
              <% @category = @company_profile.category.name %>
            <% end %>
            <% if @company_profile.place_id == 1 %>
              <% @place = "未登録" %>
            <% else %>
              <% @place = @company_profile.place.name %>
            <% end %>
          <% else %>
            <% @category = "未登録" %>
            <% @place = "未登録" %>
          <% end %>
          <div class="pt-4 flex items-center">
            <span class="material-icons">build</span><p class="ml-2">得意技術：</p><%= @category %>
          </div>
          <div class="pt-4 flex items-center">
            <span class="material-icons">location_on</span><p class="ml-2">所在地：</p><%= @place %>
          </div>
        </div>
      <% end %>
      <div class="bg-white h-auto mb-4 p-4 rounded-md shadow">
        <div class="m-2 flex items-center">
          <%= image_tag("information.png", class:"w-6") %><b class="ml-2">このサービスについて</b>
        </div>
        <p class="p-2">このサービスは金属加工の仕事を依頼したい企業と、その加工技術を持った企業を繋げるサービスです。</p>
        <p class="p-2">金属製品の加工をしてくれるユーザーを探したり、自分ができそうな加工依頼を探すことができます。</p>
      </div>
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow">
        <div class="m-2 flex items-center">
          <span class="material-icons">done</span><b class="ml-2">最近契約された依頼</b>
        </div>
        <% @view_contracts.each do |contract| %>
          <div class=" h-auto">
            <hr>
            <div class="flex display-start items-center m-2">
              <div class="ml-2 hover:underline">
                <%= link_to job_path(contract.job_id), data: {"turbolinks" => false} do %>
                  <%= contract.job.name %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow">
        <div class="m-2 flex items-center">
          <span class="material-icons">trending_up</span><b class="ml-2">お気に入り数ランキング</b>
        </div>
        <% @job_ranks.each.with_index(1) do | job, i | %>
          <div class=" h-auto">
            <hr>
            <div class="flex display-start items-center m-2">
              <div class="ranks">
                <b><%= i %>位 </b>
              </div>
              <div class="ml-2 hover:underline">
                <%= link_to job_path(job.id), data: {"turbolinks" => false} do %>
                  <%= job.name %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>