<%= render "shared/header" %>
<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <div class="px-4 py-48">
     <div class="relative w-full text-center">
       <h1 class="pulsing-text">
        Your TailwindCSS setup is working if this pulses...
       </h1>
    </div>
   </div>
  </div>
</div>
<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 bg-white rounded-md shadow">
      <div class="p-4">
        <p class="text-base">新規加工依頼一覧</p>
      </div>
      <% @jobs.each do |job|%>
        <div class="p-4 h-auto divide-y divide-gray-400">
          <%= link_to job_path(job.id) do %>
            <%= job.name %><br>
            <%= job.place %><br>
            <%= job.deadline %><br>
            <%= job.category.name %><br>
            <%= job.memo %><br>
            <div class="mb-3">
              <%= job.contact %><br>
            </div>
          <% end %>
            <hr>
        </div>
      <% end %>
    </div>
    <div class="col-span-1">
      <div class="bg-white h-64 mb-4 p-2 rounded-md shadow">
        <div class="m-2">
          <p class="text-base">このサービスについて</p>
        </div>
      </div>
      <div class="bg-white h-auto p-2 rounded-md shadow">
        <div class="m-2">
          <p class="text-base">新規登録ユーザー</p>
        </div>
        
        <% @users.each do | user |%>
          <div class=" h-auto divide-y divide-gray-400 ">
            <%= link_to user_path(user.id) do %>
            <div class="flex display-start items-center m-2">
              <div class="image">
                <%= image_tag avatar_url(user), class: "w-12 transform scale-75" %>
              </div>
              <div class="ml-2">
                <%= user.name %>
              </div>
            </div>
            <% end %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

<%= render "shared/footer" %>