<%= render "shared/header" %>

<% @jobs.each do |job|%>
  <%= link_to job_path(job.id) do %>
    <%= job.name %>
    <%= job.place %>
    <%= job.deadline %>
    <%= job.category.name %>
    <%= job.memo %>
    <%= job.contact %>
  <% end %>
  <br>
<% end %>

<h1 class="text-6xl bg-yellow-200 font-bold text-blue-700">Hello TailwindCSS</h1>

<%= render "shared/footer" %>