<%= render "shared/header" %>
<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 bg-white rounded-md shadow">
      
      <%= render partial: "jobs/job_index", locals: {jobs: @jobs} %>
    </div>
    <div class="col-span-1">
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow">
        <div class="m-2 flex items-center">
          <%= image_tag("information.png", class:"w-6") %><b class="ml-2">このサービスについて</b>
        </div>
        <p class="p-2">このサービスは金属加工の仕事を依頼したい企業と、その加工技術を持った企業を繋げるサービスです。</p>
      </div>
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow border-2 border-blue-400">
        <div class="m-2 flex items-center">
          <span class="material-icons">person_search</span><b class="ml-2">あなたにおすすめの依頼</b>
        </div>
        <% if user_signed_in? %>
          <% unless @job_recommends == nil %>
            <% @job_recommends.each do |recommend| %>
              <% unless recommend.user_id == current_user.id || @contracts.include?(recommend.id)  %>
                <hr>
                <div class="flex display-start items-center m-2">
                  <%= link_to job_path(recommend.id), data: {"turbolinks" => false} do %>
                    <p class="hover:underline"><%= recommend.name %></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <p class="text-sm mx-2 pt-4">ここではあなたの得意技術と所在地を元に、これらの条件が一致している依頼が表示されます。</p>
          <% end %>
        <% else %>
          <p class="m-2">ログインするとおすすめの仕事が表示されます</p>
        <% end %>
      </div>
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow border-2 border-blue-400">
        <div class="m-2 flex items-center">
          <span class="material-icons">person_search</span><b class="ml-2">依頼を引き受けてくれそうなユーザーを探す</b>
        </div>
        <div id="user_recommend">
          <%= render partial: "jobs/user_recommend", locals: {recommend_user: @recommend_user, contracts: @contracts, user_posted_jobs: @user_posted_jobs, selected_job: @selected_job} %>
        </div>
      </div>
      <div class="bg-white h-auto mb-4 p-2 rounded-md shadow">
        <div class="m-2 flex items-center">
          <span class="material-icons">trending_up</span><b class="ml-2">注目の仕事ランキング</b>
        </div>
        <% @job_ranks.each.with_index(1) do | job, i | %>
          <div class=" h-auto">
            <hr>
            <div class="flex display-start items-center m-2">
              <div class="ranks">
                <b><%= i %>位 </b>
              </div>
              <div class="ml-2 hover:underline">
                <%= link_to job_path(job.id), data: {"turbolinks" => false} do %>
                  <%= job.name %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="bg-white h-auto p-2 rounded-md shadow">
        <div class="m-2 flex items-center">
          <span class="material-icons">people</span><b class="ml-2">新規登録ユーザー</b>
        </div>
        <% @users.each do | user |%>
          <div class=" h-auto">
            <hr>
            <%= link_to user_path(user.id), data: {"turbolinks" => false} do %>
              <div class="flex display-start items-center m-2">
                <% if user.profile_image? %>
                  <%= image_tag user.profile_image.url, class: "w-8" %>
                <% else %>
                  <%= image_tag avatar_url(user), class: "w-8" %>
                <% end %>
                <div class="ml-2">
                  <p class="hover:underline"><%= user.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

<%= render "shared/footer" %>