<%= render "shared/header" %>

<div class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 bg-white rounded-md shadow">
      <div class="p-4 h-auto">
        <%= link_to user_path(@job.user.id) do %>
          <div class="flex display-start items-center mb-8">
            <%= image_tag avatar_url(@job.user), class: "w-12" %>
            <div class="ml-4">
              <%= @job.user.name %>さん
            </div>
          </div>
        <% end %>
        <div class="mb-4">
          <%= @job.name %>
          <% if current_user == @job.user %>
            <%= link_to "投稿を削除する", job_path, method: :delete  %>
          <% end %>
        </div>
        <div class="mb-4">
          <%= @job.place %>
        </div>
        <div class="mb-4">
          <%= @job.deadline %>
        </div>
        <div class="mb-4">
          <%= @job.category.name %>
        </div>
        <div class="mb-4">
          <%= @job.memo %>
        </div>
        <div class="mb-4">
          <%= @job.contact %>
        </div>
        <div class="mb-4">
          <% if user_signed_in? %>
            <% if current_user.already_favorited?(@job) %>
              <%= link_to image_tag("heart.png", class:"w-6"), job_favorite_path(@job), method: :delete %>
            <% else %>
              <%= link_to image_tag("heart_outline.png", class:"w-6"), job_favorites_path(@job), method: :post %>
            <% end %>
          <% else %>
            <%= link_to image_tag("heart_outline.png", class:"w-6"), new_user_session_path %>
          <% end %>
        </div>
        <hr>
        <div class="my-8">
          <%= link_to "コメントする", new_job_comment_path(@job), class:"p-3 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %><br>
        </div>
        <% @comment.each do |comment|%>
          <div class="p-4 h-auto divide-y divide-gray-400">
            <%= comment.content %>
          </div>
         <hr>
        <% end %>
        <br>
        <%= link_to "トップページに戻る", root_path, class:"" %>
      </div>
    </div>
    <div class="col-span-1">
      <div class="bg-white h-64 mb-4 p-2 rounded-md shadow">
        box1
      </div>
      <div class="bg-white h-64 p-2 rounded-md shadow">
        box2
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>