<%= render "shared/header" %>

<div class="container mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 bg-white rounded-md shadow">
      <div class="p-4 h-auto">
        <%= link_to user_path(@job.user.id) do %>
          <div class="flex justify-between">
            <div class="flex display-start items-center">
              <%= image_tag avatar_url(@job.user), class: "w-12" %>
              <div class="ml-4">
                <%= @job.user.name %>さん
              </div>
            </div>
        <% end %>
            <% if current_user == @job.user %>
              <div class="bg-gray-500 h-8 rounded-md flex items-center">
                <%= link_to image_tag("delete.png", class:"w-6"), job_path, class: "p-2", data: { confirm: "本当に削除しますか?" }, method: :delete %>
              </div>
            <% end %>
          </div>
        <div class="text-2xl py-6">
          <%= @job.name %><br>
        </div>
        <div class="py-2 flex items-center">
          <span class="material-icons">build</span><p class="ml-2">加工種別：</p><%= @job.category.name %><br>
        </div>
        <div class="py-2 flex items-center">
          <span class="material-icons">location_on</span><p class="ml-2">納品場所：</p><%= @job.place %><br>
        </div>
        <div class="py-2 flex items-center">
          <span class="material-icons">schedule</span><p class="ml-2">希望納期：</p><%= @job.deadline %><br>
        </div>
        <div class="py-2 flex items-center">
          <span class="material-icons">notes</span><p class="ml-2">備考：</p><%= @job.memo %><br>
        </div>
        <div class="flex justify-between">
          <div class="py-2 flex items-center">
            <span class="material-icons">contact_support</span><p class="ml-2">問い合わせ先：</p><%= @job.contact %><br>
          </div>
          <div class="flex items-center">
            <% if user_signed_in? %>
              <% if current_user.already_favorited?(@job) %>
                <%= link_to image_tag("star.png", class:"w-6"), job_favorite_path(@job), method: :delete %>
              <% else %>
                <%= link_to image_tag("star_outline.png", class:"w-6"), job_favorites_path(@job), method: :post %>
              <% end %>
            <% else %>
              <%= link_to image_tag("star_outline.png", class:"w-6"), new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="bg-white h-64 mb-4 p-2 rounded-md shadow">
        box1
      </div>
    </div>

    <div class="col-span-2 bg-white rounded-md shadow">
      <div class="p-4 h-auto">
        <div class="my-2">
          <div class="">
            <%= link_to "コメントする", new_job_comment_path(@job), class:"p-3 rounded-md bg-blue-500 text-white hover:bg-blue-700" %><br>
          </div>
        </div>
        <% @comment.each do |comment|%>
          <div class="py-2 h-auto divide-y divide-gray-400">
            <div class="flex justify-between my-4">
              <%= link_to user_path(comment.user.id) do %>
                <div class="flex display-start items-center">
                  <%= image_tag avatar_url(comment.user), class: "w-8" %>
                  <div class="ml-2">
                    <%= comment.user.name %>さん
                  </div>
                </div>
              <% end %>
              <% if current_user == comment.user %>
                <div class="bg-gray-500 h-8 rounded-md flex items-center">
                  <%= link_to image_tag("delete.png", class:"w-6"), job_comment_path(@job, comment), class: "p-2", data: { confirm: "本当に削除しますか?" }, method: :delete %>
                </div>
              <% end %>
            </div>
            <%= comment.content %>
          </div>
         <hr>
        <% end %>
      </div>
    </div>
    <div class="col-span-2 flex justify-center">
      <div class="bg-gray-500 w-auto rounded-md">
        <%= link_to "トップページに戻る", root_path, class:"p-4 text-white" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>