<div class="bg-white rounded-t-md shadow mt-4 mx-4">
  <div class="user_info mx-auto">
    <div class="mt-4 px-16 pt-4 flex justify-center">
      <% if user.profile_image? %>
        <%= image_tag user.profile_image.url class: "w-16" %>
      <% else %>
        <%= image_tag avatar_url(user) %>
      <% end %>
    </div>
    <div class="pt-4 flex justify-center">
      <p class="text-2xl"><%= user.name %></p>
    </div>
  </div>
  <div class="profile_or_follow mx-auto pt-4">
    <% if user_signed_in? %>
      <% if @params_id == current_user.id %>
        <div id="profile_button">
          <%= render partial: "company_profiles/profile_button", locals: {company_profile: @company_profile, params_id: params_id } %>
        </div>
      <% else %>
        <div id="follow_button">
          <%= render partial: "follows/check_follow", locals: {check_follow: check_follow } %>
        </div>
      <% end %>
    <% else %>
      <div id="follow_button">
        <%= render partial: "follows/check_follow", locals: {check_follow: check_follow } %>
      </div>
    <% end %>
  </div>
</div>
<div class="grid grid-cols-2 bg-white shadow mx-4 rounded-b-md">
  <%= link_to user_user_follow_path(user_id: params[:id]), data: {"turbolinks" => false}, method: :get, remote: true do %>
    <div class="bg-gray-100 border-t-2 border-gray-100 hover:border-blue-500 active:bg-gray-200 rounded-bl-md">
      <div class="flex items-center p-4">
        <p class="mx-auto text-sm">フォロー中</p>
      </div>
    </div>
  <% end %>
  <%= link_to user_user_follower_path(user_id: params[:id]), data: {"turbolinks" => false}, method: :get, remote: true do %>
    <div class="bg-gray-100 border-t-2 border-gray-100 hover:border-blue-500 active:bg-gray-200 rounded-br-md">
      <div class="flex items-center p-4">
        <p class="mx-auto text-sm">フォロワー</p>
      </div>
    </div>
  <% end %>
</div>
