<%= render "shared/header" %>
<div class="container mx-auto lg:px-8 xl:px-36">
  <div id="follow_message">
    <%= render partial: "follows/message", locals: { message: @message } %>
  </div>
  <div class="lg:grid grid-cols-3">
    <div class="col-span-1">
      <div id="user_info">
        <%= render partial: "users/info", locals: { user: @user, company_profile: @company_profile, check_follow: @check_follow } %>
      </div>
      <div class="bg-white rounded-md shadow mt-4 mx-4 hover:rounded-md">
        <div class="request">
          <% if @user == current_user %>
            <%= render partial: "requests/accepted_requests", locals: { got_requests: @got_requests, check_contract: @check_contract} %>
          <% elsif user_signed_in? %>
            <div id="send_request">
              <%= render partial: "requests/send_request", locals: {current_user_job: @current_user_job, current_user_job: @current_user_job, message: @message} %>
            </div>
            <div id="jobs_request_sent">
              <%= render partial: "requests/jobs_request_sent", locals: {jobs_request_sent: @jobs_request_sent, check_contract: @check_contract} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="bg-white rounded-md shadow mt-4 mx-4">
        <div id="company_profile">
          <%= render partial: "company_profiles/profiles", locals: { company_profile: @company_profile, params_id: @params_id, message: @message } %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow mt-4 mx-4">
        <div id="select">
          <%= render partial: "users/jobs", locals: { jobs: @jobs, check_contract: @check_contract, send_requests: @send_requests } %>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8 lg:pb-28 flex justify-center">
    <%= link_to "トップページにもどる", root_path, class:"px-3 py-2 text-blue-500 text-xl border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
  </div>
</div>
<%= render "shared/footer" %> 