<%= render "shared/header" %>

<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-md shadow">
      <div class="mb-4 flex justify-center">
        <%= image_tag avatar_url(@user), class: "round-md" %>
      </div>
      <div class="mb-4 flex justify-center">
        <p class="text-2xl"><%= @user.name %></p>
      </div>
      <% if @user == current_user %>
        <div class="mt-16 flex justify-center">
          <%= link_to "設定を変更する", edit_user_registration_path, class: "w-full bg-gray-500 text-white text-center" %>
        </div>
        <% if @company_profile.nil? %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを追加する", new_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% else %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを編集する", edit_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% end %>
      <% else %>
        <% if @follow.nil? %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローする", user_follows_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :post %>
          </div>
        <% else %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローをはずす", user_follow_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-span-2 h-auto bg-white rounded-md shadow">
      <div class="p-4 h-auto">
        <% if @company_profile.nil? %>
          <div class="mb-4 p-2 border-4">
            <p class="text-xl">得意技術：</p>
            <hr>
          </div>
          <div class="mb-2">
            企業紹介：
            <hr>
          </div>
          <div class="mb-2">
            ホームページ：
            <hr>
          </div>
          <div class="mb-2">
            連絡先：
            <hr>
          </div>
        <% else %>
          <div class="mb-4 p-2 border-4">
            <p class="text-xl">得意技術：<%= @company_profile.speciality %></p>
            <hr>
            <%= @company_profile.content %>
          </div>
          <div class="mb-2">
            企業紹介：<%= @company_profile.self_introduction %>
            <hr>
          </div>
          <div class="mb-2">
            ホームページ：<%= @company_profile.company_url %>
            <hr>
          </div>
          <div class="mb-2">
            連絡先：<%= @company_profile.contact %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-md shadow my-4 divide-x divide-gray-400 flex">
    <div class="h-auto w-6/12 bg-blue-500 m-4">
      <% @follows.each do | user |%>
        <div class=" h-auto divide-y divide-gray-400 ">
          <%= link_to user_path(user.follow_id) do %>
          <div class="flex display-start items-center m-2">
            <div class="image">
              <%= image_tag avatar_url(user.follow), class: "w-12 transform scale-75" %>
            </div>
            <div class="ml-2">
              <%= user.follow.name %>
            </div>
          </div>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
    
    <div class="h-auto w-6/12 bg-indigo-500 m-4">
      <% @followers.each do | user |%>
        <div class=" h-auto divide-y divide-gray-400 ">
          <%= link_to user_path(user.user_id) do %>
            <div class="flex display-start items-center m-2">
              <div class="image">
                <%= image_tag avatar_url(user.follow), class: "w-12 transform scale-75" %>
              </div>
              <div class="ml-2">
                <%= user.user.name %>
              </div>
            </div>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
  
</div>

<%# <%= render "shared/footer" %> 