<%= render "shared/header" %>
<div class="container mx-auto lg:px-8 xl:px-36">
  <div id="follow_message">
    <%= render partial: "follows/message", locals: { message: @message } %>
  </div>
  <div class="lg:grid grid-cols-3">
    <div class="bg-white rounded-md shadow mt-4 mx-4">
      <div class="user_info mx-auto">
        <div class="mt-4 px-16 flex justify-center">
          <% if @user.profile_image? %>
            <%= image_tag @user.profile_image.url class: "w-16" %>
          <% else %>
            <%= image_tag avatar_url(@user) %>
          <% end %>
        </div>
        <div class="pt-4 flex justify-center">
          <p class="text-2xl"><%= @user.name %></p>
        </div>
      </div>
      <div class="setting_or_follow mx-auto pt-4">
        <% if @user == current_user %>
          <div class="mt-4 flex justify-center">
            <%= link_to "設定を変更する", edit_user_registration_path, class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
          </div>
          <% if @company_profile.nil? %>
            <div class="mt-4 flex justify-center">
              <%= link_to "プロフィールを追加する", new_company_profile_path, class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
            </div>
          <% else %>
            <div class="mt-4 flex justify-center">
              <%= link_to "プロフィールを編集する", edit_company_profile_path, class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
            </div>
          <% end %>
        <% else %>
          <div id="follow_button">
            <%= render partial: "follows/check_follow", locals: {check_follow: @check_follow, message: @message } %>
          </div>
        <% end %>
      </div>
      <div class="request">
        <% if @user == current_user %>
          <div class="accepted_requests rounded-md shadow border-2 border-yellow-300 mx-4 mt-8">
            <div class="flex items-center px-4 pt-4">
              <span class="material-icons">announcement</span>
              <p class="ml-2"><b>受け取ったリクエスト</b></p>
            </div>
            <% @got_requests_no_contract = @got_requests.reject{|request| @check_contract.include?(request.job_id)} %>
            <% if @got_requests_no_contract.empty? %>
              <p class="text-sm p-4">受け取ったリクエストはありません</p>
            <% end %>
            <% @got_requests_no_contract.each do |request|%>
              <%= link_to job_path(request.job_id), data: {"turbolinks" => false} do %>
                <div class="flex hover:bg-gray-100 active:bg-gray-200 p-4">
                  <%= request.job.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% elsif user_signed_in? %>
          <div id="send_request">
            <%= render partial: "requests/send_request", locals: {current_user_job: @current_user_job, current_user_job: @current_user_job, message: @message} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-span-2 h-auto bg-white rounded-md shadow mt-4 mx-4">
      <% if @company_profile.nil? %>
        <div class="p-4 h-auto">
          <p class="text-sm text-gray-400">プロフィールはまだ登録されていません</p>
        </div>
      <% else %>
        <div class="p-4 h-auto">
          <div class="mb-4 p-2 border-4">
            <p class="text-xl m-2">得意加工：<%= @company_profile.category.name %></p>
            <p class="text-ml m-2">得意加工２：<%= @company_profile.sub_category.name %></p>
            <hr>
            <p class="m-2">得意技術について</p>
            <div class="whitespace-pre-line">
              <%= @company_profile.content %>
            </div>
          </div>
          <p class="mx-2">企業紹介：</p>
          <div class="whitespace-pre-line pb-4">
            <%= @company_profile.self_introduction %>
          </div>
          <hr>
          <div class="m-2">
            企業所在地：<%= @company_profile.place.name %>
          </div>
          <hr>
          <div class="m-2">
            ホームページ：<%= @company_profile.company_url %>
          </div>
          <hr>
          <div class="m-2">
            連絡先：<%= @company_profile.contact %>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
  <div class="lg:grid grid-cols-3">
    <div class="bg-white rounded-md shadow mt-4 mx-4 hover:rounded-md">
      <div class="follows flex">
        <div class="h-auto w-6/12">
          <p class="text-base px-4 pt-4"><b>フォロー中</b></p>
          <% @follows.each do | user |%>
            <%= link_to user_path(user.follow_id), data: {"turbolinks" => false} do %>
              <div class="flex display-start items-center px-4 py-2 hover:bg-gray-50 active:bg-gray-100">
                  <% if user.follow.profile_image? %>
                    <%= image_tag user.follow.profile_image.url, class: "w-8" %>
                  <% else %>
                    <%= image_tag avatar_url(user.follow), class: "w-8" %>
                  <% end %>
                <p class="ml-2 text-sm"><%= user.follow.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <hr>
        <div class="h-auto w-6/12">
          <p class="text-base px-4 pt-4"><b>フォロワー</b></p>
          <div id="follower_index">
            <%= render partial: "follows/follows", locals: {followers: @followers } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2 bg-white rounded-md shadow mt-4 mx-4">
      <div class="flex">
        <div class="posted_contract w-6/12">
          <div class="flex items-center px-4 pt-4">
            <span class="material-icons">work</span>
            <p class="ml-2"><b>投稿した依頼</b></p>
          </div>
          <% @non_contract_jobs = @jobs.reject{ |job| @check_contract.include?(job.id) } %>
          <% if @non_contract_jobs.empty? %>
            <div class="flex px-4 py-2 hover:bg-gray-50">
              <p class="text-sm text-gray-400">投稿した依頼はありません</p>
            </div>
          <% end %>
          <% @non_contract_jobs.each do | job |%>
            <%= link_to job_path(job.id), data: {"turbolinks" => false} do %>
              <div class="flex items-center px-4 py-2 hover:bg-gray-50 active:bg-gray-100 hover:rounded-md">
                  <p class="mr-2"><%= job.name %></p>
                <% if @send_requests.include?(job.id)%>
                  <span class="material-icons">send</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="favorite w-6/12">
          <div class="flex items-center px-4 pt-4">
            <%= image_tag("star.png", class:"w-6") %>
            <p class="ml-2"><b>お気に入りした依頼</b></p>
          </div>
          <% if @favorites.empty? %>
            <div class="flex px-4 py-2 hover:bg-gray-50">
              <p class="text-sm text-gray-400">お気に入りした依頼はありません</p>
            </div>
          <% end %>
          <% @favorites.each do | favorite |%>
            <%= link_to job_path(favorite.job_id), data: {"turbolinks" => false} do %>
              <div class="flex items-center px-4 py-2 hover:bg-gray-50 active:bg-gray-100 hover:rounded-md">
                <p class="mr-2"><%= favorite.job.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="flex">
        <div class="accept-contract w-6/12">
          <div class="flex items-center px-4 pt-4">
            <span class="material-icons">done</span>
            <p class="ml-2"><b>募集終了した依頼</b></p>
          </div>
          <% if @contracts.empty? %>
            <div class="flex px-4 py-2 hover:bg-gray-50">
              <p class="text-sm text-gray-400">募集終了した投稿はありません</p>
            </div>
          <% end %>
          <% @contracts.each do |contract| %>
            <%= link_to job_path(contract.job_id), data: {"turbolinks" => false} do %>
              <div class="flex px-4 py-2 hover:bg-gray-50 active:bg-gray-100">
                <%= contract.job.name %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="order_contract w-6/12">
          <div class="flex items-center px-4 pt-4">
            <span class="material-icons">task</span>
            <p class="ml-2"><b>受注した他ユーザーの依頼</b></p>
          </div>
          <% if @accepts.empty? %>
            <div class="flex px-4 py-2 hover:bg-gray-50">
              <p class="text-sm text-gray-400">受注した他ユーザーの依頼はありません</p>
            </div>
          <% end %>
          <% @accepts.each do |accept|%>
            <%= link_to job_path(accept.job_id), data: {"turbolinks" => false} do %>
              <div class="flex px-4 py-2 hover:bg-gray-50">
                <%= accept.job.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8 lg:pb-28 flex justify-center">
    <%= link_to "トップページにもどる", root_path, class:"px-3 py-2 text-blue-500 text-xl border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
  </div>
</div>
<%= render "shared/footer" %> 