<%= render "shared/header" %>

<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-md shadow">
      <div class="mb-4 flex justify-center">
        <% if @user.profile_image? %>
          <%= image_tag @user.profile_image.url class: "w-16" %>
        <% else %>
          <%= image_tag avatar_url(@user) %>
        <% end %>
      </div>
      <div class="pt-4 flex justify-center">
        <p class="text-2xl"><%= @user.name %></p>
      </div>
      <% if @user == current_user %>
        <div class="mt-16 flex justify-center">
          <%= link_to "設定を変更する", edit_user_registration_path, class: "w-full bg-gray-500 text-white text-center" %>
        </div>
        <% if @company_profile.nil? %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを追加する", new_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% else %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを編集する", edit_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% end %>
      <% else %>
        <% if @check_follow.nil? %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローする", user_follows_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :post %>
          </div>
        <% else %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローをはずす", user_follow_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-span-2 h-auto bg-white rounded-md shadow">
      <% if @company_profile.nil? %>
        <div class="p-4 h-auto">
          プロフィールはまだ登録されていません
        </div>
      <% else %>
        <div class="p-4 h-auto">
          <div class="mb-4 p-2 border-4">
            <p class="text-xl m-2">得意技術：<%= @company_profile.category.name %></p>
            <p class="text-ml m-2">得意技術の詳細：<%= @company_profile.sub_category.name %></p>
            <hr>
            <div class="mt-2">
              得意技術について：<%= @company_profile.content %>
            </div>
          </div>
          <div class="m-2">
            企業紹介：<%= @company_profile.self_introduction %>
          </div>
          <hr>
          <div class="m-2">
            企業所在地：<%= @company_profile.place.name %>
          </div>
          <hr>
          <div class="m-2">
            ホームページ：<%= @company_profile.company_url %>
          </div>
          <hr>
          <div class="m-2">
            連絡先：<%= @company_profile.contact %>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white rounded-md shadow mt-4 flex">
      <div class="h-auto w-6/12 m-2">
        <div class="p-2">
          <p class="text-base ml-2">フォロー中</p>
          <hr>
        </div>
        <% @follows.each do | user |%>
          <div class="h-auto">
            <%= link_to user_path(user.follow_id) do %>
            <div class="flex display-start items-center m-2">
              <div class="image">
                <span class="material-icons">person_outline</span>
              </div>
              <div class="ml-2 hover:underline">
                <p class="text-sm"><%= user.follow.name %></p>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="h-auto w-6/12 m-2">
        <div class="p-2">
          <p class="text-base ml-2">フォロワー</p>
          <hr>
        </div>
        <% @followers.each do | user |%>
          <div class="h-auto">
            <%= link_to user_path(user.user_id) do %>
              <div class="flex display-start items-center m-2">
                <div class="image">
                  <span class="material-icons">person_outline</span>
                </div>
                <div class="ml-2 hover:underline">
                  <p class="text-sm"><%= user.user.name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bg-white rounded-md shadow my-4 p-2">
      <div class="p-2 flex items-center">
        <span class="material-icons">work</span>
        <p class="ml-2">投稿した仕事</p>
      </div>
      <hr>
      <% @jobs.each do | job |%>
        <div class="flex h-auto">
          <%= link_to job_path(job.id) do %>
            <p class="p-2 hover:underline"><%= job.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="bg-white rounded-md shadow my-4 p-2">
      <div class="p-2 flex items-center">
        <span class="material-icons">done</span>
        <p class="ml-2">発注した仕事</p>
      </div>
      <hr>
      <% @contracts.each do |contract| %>
        <div class="flex h-auto">
          <%= link_to job_path(contract.job_id) do %>
            <p class="p-2 hover:underline"><%= contract.job.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="bg-white rounded-md shadow mb-4 p-2">
      <div class="p-2 flex items-center">
        <%= image_tag("star.png", class:"w-6") %>
        <p class="ml-2">お気に入りした仕事</p>
      </div>
      <hr>
      <div class="m-2">
        <% @favorites.each do | favorite |%>
          <div class="h-auto">
            <%= link_to job_path(favorite.job_id) do %>
              <div class="flex display-start items-center m-2 hover:underline">
                <%= favorite.job.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bg-white rounded-md shadow mb-4 p-2">
      <div class="p-2 flex items-center">
        <span class="material-icons">task</span>
        <p class="ml-2">受注した仕事</p>
      </div>
      <div class="m-2">
        <hr>
        <% @accepts.each do |accepts|%>
          <div class="flex h-auto">
            <%= link_to job_path(accepts.job_id) do %>
              <p class="p-2 hover:underline"><%= accepts.job.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>

<%= render "shared/footer" %> 