<%= render "shared/header" %>

<div class="container mx-auto px-8">
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-white h-auto p-4 rounded-md shadow">
      <div class="mb-4 flex justify-center">
        <%= image_tag avatar_url(@user), class: "round-md" %>
      </div>
      <div class="mb-4 flex justify-center">
        <p class="text-2xl"><%= @user.name %></p>
      </div>
      <% if @user == current_user %>
        <div class="mt-16 flex justify-center">
          <%= link_to "設定を変更する", edit_user_registration_path, class: "w-full bg-gray-500 text-white text-center" %>
        </div>
        <% if @company_profile.nil? %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを追加する", new_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% else %>
          <div class="my-4 flex justify-center">
            <%= link_to "プロフィールを編集する", edit_company_profile_path, class: "w-full bg-gray-500 text-white text-center" %>
          </div>
        <% end %>
      <% else %>
        <% if @follow.nil? %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローする", user_follows_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :post %>
          </div>
        <% else %>
          <div class="mt-16 flex justify-center">
            <%= link_to "フォローをはずす", user_follow_path(@user), class: "w-full bg-gray-500 text-white text-center", method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-span-2 bg-white rounded-md shadow">
      <div class="p-4 h-auto">
        <% if @company_profile.nil? %>
          <div class="mb-4">
            <div class="mb-4 p-2 border-4">
            <p class="text-xl">得意技術：</p>
            <hr>
          </div>
          <div class="mb-2">
            企業紹介：
            <hr>
          </div>
          <div class="mb-2">
            ホームページ：
            <hr>
          </div>
          <div class="mb-2">
            連絡先：
            <hr>
          </div>
        <% else %>
          <div class="mb-4 p-2 border-4">
            <p class="text-xl">得意技術：<%= @company_profile.speciality %></p>
            <hr>
            <%= @company_profile.content %>
          </div>
          <div class="mb-2">
            企業紹介：<%= @company_profile.self_introduction %>
            <hr>
          </div>
          <div class="mb-2">
            ホームページ：<%= @company_profile.company_url %>
            <hr>
          </div>
          <div class="mb-2">
            連絡先：<%= @company_profile.contact %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>