<div class="bg-white shadow">
  <div class="container mx-auto px-8 py-4 mb-4">
    <div class="row-span-1">
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1">
          <%= link_to image_tag("koujou.png", class:"w-24"), "/" %>
        </div>
        <div class="col-span-1 flex justify-center items-center">
          <div class="user_session">
            <% if user_signed_in? %>
              こんにちは、<%= link_to "#{current_user.name}さん", user_path(current_user), class:"text-blue-500" %><br>
              <%= "ログアウトは" %><%= link_to "こちら", destroy_user_session_path, method: :delete, class:"text-blue-500" %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path, class:""%>
              <dt><%= link_to "ログイン", new_user_session_path, class:"" %></dt>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
            <% end %>
          </div>
        </div>
        <div class="col-span-1 flex justify-end items-center">
          <%= link_to "依頼を投稿する", new_job_path, class:"p-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700"%>
        </div>
      </div>
    </div>
  </div>
</div>