<div class="bg-white shadow">
  <div class="container mx-auto px-8 py-4">
    <div class="flex justify-around">
      <%= link_to image_tag("koujou.png", class:"w-24"), "/" %>
      <div class="flex justify-center items-center">
        <div class="user_session">
          <% if user_signed_in? %>
            ようこそ<%= link_to "#{current_user.name}さん", user_path(current_user), class:"hover:underline text-blue-500" %><br>
            <%= "ログアウトは" %><%= link_to "こちら", destroy_user_session_path, method: :delete, class:"hover:underline text-blue-500" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class:"hover:underline"%>
            <dt><%= link_to "ログイン", new_user_session_path, class:"hover:underline" %></dt>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, class:"hover:underline", method: :post %>
          <% end %>
        </div>
      </div>
      <div class="flex justify-end items-center">
        <% if user_signed_in? %>
          <%= link_to "依頼を投稿する", new_job_path, class:"px-3 py-2 bg-blue-500 lg:text-lg text-white font-semibold rounded hover:bg-blue-700"%>
        <% else %>
          <%= link_to "依頼を投稿する", new_user_session_path, class:"px-3 py-2 bg-blue-500 lg:text-lg text-white font-semibold rounded hover:bg-blue-700"%>
        <% end %>
      </div>
    </div>
  </div>
</div>