<%= form_with model: @company_profile, url: company_profile_path, method: :put do |f| %>
  <div class="p-4 bg-white rounded-md shadow m-4 border-2 border-blue-500">
    <div class="flex items-center">
      <span class="material-icons">edit</span>
      <p class="ml-2"><b>プロフィールを編集する</b></p>
    </div>
    <div class="p-4">
      <p class="pb-3">得意な加工</p>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">2番目に得意な加工</p>
      <%= f.collection_select(:sub_category_id, SubCategory.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">得意な加工についての説明</p>
      <%= f.text_area :content, class:"w-full" %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">自己紹介</p>
      <%= f.text_area :self_introduction, class:'w-full' %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">企業所在地</p>
      <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">会社ホームページ</p>
      <%= f.text_area :company_url, class:'w-full' %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">連絡先</p>
      <%= f.text_area :contact, class:'w-full' %>
    </div>
    <p class="flex justify-center"><%= f.submit "プロフィールを更新する", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %></p>
<% end %>
  <div class="pt-4 flex justify-center">
    <%= link_to "編集をキャンセルする", company_profile_path, class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100", remote: true %>
  </div>
</div>