<%= form_with model: company_profile, url: user_company_profiles_path do |f| %>
  <div class="p-4 rounded-md border-2 border-blue-500">
    <div class="flex justify-around items-center pb-4">
      <p class="flex justify-center"><%= f.submit "プロフィールを登録する", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %></p>
      <%= link_to "編集をキャンセルする", user_company_profile_path(id: @params_id), class: "px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100", remote: true %>
    </div>
    <div class="p-4">
      <p class="pb-3">得意な加工</p>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <hr>
    <hr>
    <div class="p-4">
      <p class="pb-3">得意な加工についての説明</p>
      <%= f.text_area :content, class:"w-full" %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">自己紹介</p>
      <%= f.text_area :self_introduction, class:'w-full' %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">企業所在地</p>
      <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"form-select"}) %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">会社ホームページ</p>
      <%= f.text_area :company_url, class:'w-full' %>
    </div>
    <hr>
    <div class="p-4">
      <p class="pb-3">連絡先</p>
      <%= f.text_area :contact, class:'w-full' %>
    </div>
  </div>
<% end %>