<%= render "shared/header" %>
<div class="container mx-auto">
  <%= form_with model: @company_profile, url: company_profiles_path, local: true do |f| %>
    <div class="p-4 h-auto divide-y divide-gray-400 bg-white rounded-md shadow">
      <div class="p-4">
        <%= f.label :speciality, class:"form-label" %><br />
        <%= f.text_area :speciality, class:"my-3 w-full" %>
        <div class="form-text">得意技術を記述してください</div>
      </div>
      <div class="p-4">
        <%= f.label :content, class:"form-label" %><br />
        <%= f.text_area :content, class:"my-2 w-full" %>
        <div class="form-text">得意技術の詳細を記入してください</div>
      </div>
      <div class="p-4">
        <%= f.label :self_introduction, class:"form-label" %><br />
        <%= f.text_area :self_introduction, class:'my-2 w-full' %>
        <div class="form-text">自己紹介を入力してください</div>
      </div>
      <div class="p-4">
        <%= f.label :company_url, class:"form-label" %><br />
        <%= f.text_area :company_url, class:'my-2 w-full' %>
        <div class="form-text">会社ホームページのURLを記入してください</div>
      </div>
      <div class="p-4">
        <%= f.label :contact, class:"form-label" %><br />
        <%= f.text_area :contact, class:'my-2 w-full' %>
        <div class="form-text">連絡先を記入してください</div>
      </div>
      <div class="p-4 flex justify-center">
        <div class="">
          <%= f.submit "プロフィールを更新する", class:"p-3 mx-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %>
        </div>
        <div class="p-3">
          <%= link_to 'トップページに戻る', root_path, class:"p-3 mx-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>