<%= render "shared/header" %>
<div class="container mx-auto lg:px-8 xl:px-60">
  <div class="lg:grid grid-cols-2 pt-4 lg:pb-80">
    <div class="col-span-1 bg-white rounded-md shadow mx-4 my-4 flex justify-center">
      <%= image_tag("welcome.png", class:"h-80") %>
    </div>
    <div class="col-span-1 bg-white rounded-md shadow mx-4 my-4 p-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="h-auto divide-y divide-gray-400">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
          <div class="px-4 pb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="p-4">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="p-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="pt-4 flex justify-around">
            <%= f.submit "ログインする", class:"cursor-pointer px-3 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-700" %>
            <%= link_to 'トップページに戻る', root_path, class:"px-3 py-2 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
