<%= link_to user_user_info_path(user_id: params[:id]), data: {"turbolinks" => false}, method: :get, remote: true do %>
  <div class="bg-gray-50 rounded-t-md hover:bg-gray-100 active:bg-gray-200">
    戻る
  </div>
<% end %>
<p class="text-base px-4 pt-4"><b>フォロワー</b></p>
<% followers.each do | follower |%>
  <%= link_to user_path(follower.user_id), data: {"turbolinks" => false} do %>
    <div class="flex display-start items-center px-4 py-2 hover:bg-gray-50 active:bg-gray-100">
        <% if follower.user.profile_image? %>
          <%= image_tag follower.user.profile_image.url, class: "w-8" %>
        <% else %>
          <%= image_tag avatar_url(follower.user), class: "w-8" %>
        <% end %>
      <p class="ml-2 text-sm"><%= follower.user.name %></p>
    </div>
  <% end %>
<% end %>
<div class="grid grid-cols-2">
  <%= link_to user_user_follow_path(user_id: params[:id]), data: {"turbolinks" => false}, method: :get, remote: true do %>
    <div class="bg-gray-100 hover:border-t-2 border-blue-500 active:bg-gray-200">
      <div class="flex items-center p-4">
        <p class="mx-auto text-sm">フォロー中</p>
      </div>
    </div>
  <% end %>
  <%= link_to user_user_follower_path(user_id: params[:id]), data: {"turbolinks" => false}, method: :get, remote: true do %>
    <div class="bg-white rounded-tl-md h-auto border-b-2 border-white">
      <div class="flex items-center p-4">
        <p class="mx-auto text-sm">フォロワー</p>
      </div>
    </div>
  <% end %>
</div>